<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.1.xsd
	   		http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
		<property name="username" value="" />
		<property name="password" value="" />
		<property name="maxActive" value="5"/>
		<property name="maxIdle" value="5"/> 
		<property name="maxWait" value="-1"/> 
		<property name="removeAbandoned" value="true"/> 
		<property name="removeAbandonedTimeout" value="60"/>
	</bean>
	
	<!-- 싱글 JDBC에 대한 트랜잭션 메니저 정의 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

    <!-- iBATIS을 사용하기 위한 SqlMap 정의. v2.0 이상 -->
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:/SqlMapConfig.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

	<!-- properties -->
    <bean name="properties" class="net.study.common.Properties" >
        <property name="fileLocation">
            <value>classpath:ecp.properties</value>
        </property>
    </bean>

    <!-- Message Source 설정 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:/messages/common</value>
			</list>
		</property>
		<property name="cacheSeconds">
			<value>60</value>
		</property>
    </bean>
    <bean id="bizMessageSource" class="net.study.common.BizMessageSource">
        <property name="reloadableResourceBundleMessageSource">
            <ref bean="messageSource" />
        </property>
    </bean>

    <!-- locale bean 설정 -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"/>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			  <property name="paramName" value="bizlocale" />
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

    <!-- 파일업로드 설정 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<property name="maxUploadSize" value="15000000"/>
    	<property name="uploadTempDir" ref="uploadDirResource"/>
    </bean>
    <bean id="uploadDirResource" class="org.springframework.core.io.FileSystemResource">
    	<constructor-arg value="classpath:../../../repository/temp"/>
    </bean>


</beans>